<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NagriExpress - Home</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body  id="welContainer">
  <div class="welcome-container">
    <h1 class="welcome-heading">
      <span id="w">W</span>
      <span id="e">e</span>
      <span id="l">l</span>
      <span id="c">c</span>
      <span id="o">o</span>
      <span id="m">m</span>
      <span id="ee">e</span>
    </h1>

    <div class="btn-home-cn">
      <a class="btn-home" href="/login">Continue To NagriExpress</a>
    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./javascripts/index.js"></script>
</html>